<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>neft data</title>

<meta charset="UTF-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> 


<style >

</style>




</head>


<body style="background: darkcyan;">
<label >Choose Bank name </label>

<select name="b_name" id="b_name">
  <option value="all">ALL</option>
  <option value="RSCB0000%">APEX</option>
  <option value="RSCB0011%">AJMER</option>
  <option value="RSCB0012%">ALWAR</option>
  <option value="RSCB0013%">BANSWARA</option>
  <option value="RSCB0039%">BARAN</option>
  <option value="RSCB0014%">BARMER</option>
  <option value="RSCB0015%">BHARATPUR</option>
  <option value="RSCB0016%">BHILWARA</option>
  <option value="RSCB0017%">BIKANER</option>
  <option value="RSCB0018%">BUNDI</option>
  <option value="RSCB0019%">CHITTAURGARH</option>
  <option value="RSCB0020%">CHURU</option>
  <option value="RSCB0037%">DAUSA</option>
  <option value="RSCB0021%">DUNGARPUR</option>
  <option value="RSCB0033%">GANGANAGAR</option>
  <option value="RSCB0038%">HANUMANGARH</option>
  <option value="RSCB0036%">JAISALMER</option>
  <option value="RSCB0022%">JAIPUR</option>
  <option value="RSCB0023%">JALOR</option>
  <option value="RSCB0024%">JHALAWAR</option>
  <option value="RSCB0025%">JHUNJHUNU</option>
  <option value="RSCB0026%">JODHPUR</option>
  <option value="RSCB0027%">KOTA</option>
  <option value="RSCB0028%">NAGAUR</option>
  <option value="RSCB0029%">PALI</option>
  <option value="RSCB0030%">SAWAI MADHOPUR</option>
  <option value="RSCB0031%">SIKAR</option>
  <option value="RSCB0032%">SIROHI</option>
  <option value="RSCB0034%">TONK</option>
  <option value="RSCB0035%">UDAIPUR</option>
  
</select>



Done


<table id= neft_incoming>
<thead>
    <tr>
    
      <th> Status</th>
      <th> Count </th>
      
    </tr>
</thead>
 <tbody>
    <tr  th:each="neftout : ${neftout}">
              <td th:text="${neftout.status}"></td>
              <td th:text="${neftout.count}"></td>
              
            </tr>
  </tbody>
</table>

<script>
//making array of utr_no

$(document).ready(function() {
  $('#b_name').on('change', function() {
    var string = $('#b_name').val()
    alert(string);
    
    $.ajax({
	    type : "POST",
	    url : "/index",
	    data : {
	        string: string//notice that "myArray" matches the value for @RequestParam
	                   //on the Java side
	    },

	    success : function(response) {
	    	$('.do_something_with_response').hide().html(response).fadeIn(700, function() {});
            $('.loadingOverlay').hide(); 
	       alert("Files Are Send to server") ;
	    },
	    error : function(e) {
	       alert('Error: \n please select row to send' + e);
	    },
	});
    
  });
});

</script>

</body>
</html>